@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 276 100% 7%;
    --foreground: 0 0% 98%;
    --card: 264 79% 31%;
    --card-foreground: 0 0% 98%;
    --popover: 264 79% 31%;
    --popover-foreground: 0 0% 98%;
    --primary: 252 89% 74%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#1A0B2E] text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.glass-card {
  @apply bg-opacity-20 backdrop-filter backdrop-blur-lg;
}